*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
}
.container{
    display: flex;
    /* justify-content: center; */
    
     margin-top: 18%; 
    flex-direction: column;
    align-items: center;
}
.heading{
    width: 500px;
    font-size: 37px;
    margin: 20px 0px;
    text-align: center;
}
/* .Input-Works{
    width: 300px;
} */
.Input-Works input[type='text']{
    width: 300px;
    
    border: 1px solid black;
    padding: 0px 23px;
    height: 30px;
    font-size: 17px;
    border-radius: 8px;
}
.result #checked-Result 
{
    font-size: 25px;
    width: 400px;
    text-align: center;
    /* height: 50px; */
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 14px 0px 0px 0px;
    /* transition: all 2s ease-in-out; */
}
.buttons{
    display: flex;
}
.submit button{
    width: 100px;
    height: 30px;
    margin-top: 17px;
    margin-right: 14px;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 10px;
}
.submit button:hover{
    cursor: pointer;
    
    background-color: springgreen;
    transition: all 0.2s ease-in;
}